h1,h2,h3{color: violet; background-color: black;}
p{color: gainsboro;}
link{color: lawngreen;}
ul{color: lightcoral;}
p4{color: lightblue;}
body {background-image: url('file:///storage/emulated/0/Android/data/com.teejay.trebedit/files/TrebEdit user files/alll mine/IMG_20251121_101531_287.jpg')}
p5{color: lightcoral;}
p6{color: lightcoral;}
p{color: whitesmoke;}
h4{color: lavenderblush;}
p7{color: lightcoral;}
h6{color: lavenderblush;}
P4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,p17{color: lightcoral;}
h1{ position: static; animation: ease-in-out;
color: palegoldenrod;}
.ttt{float: left;}
table ,td,tr{color: goldenrod; border: 1px solid lightblue ; rgb(50,14,14,30); border-collapse: collapse;
border-style: dotted ;}
.fff{text-align: center; color: lightblue;
animation: reverse;



